* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #b6e6bd);
  color: #000000;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4dad51;
  padding: 15px 30px;
  position: relative;
  top: 0;
  z-index: 10;
}
input[type= "checkbox"]{
  display:none;
}
.bi {
  font-size: 1.3rem;
  cursor: pointer;
}

.bi-moon {
  display: none;
}

header   a {
  color: #000000;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 600;
  transition: color 0.3s ease;
}

section#inicio {
  text-align: center;
  margin: 60px auto;
  max-width: 1000px;
  padding: 0 20px;
}

section#inicio h1 {
  color: #2e7d32;
  font-family: Playfair Display;
  font-size: 80px;
}

section#inicio h2 {
  color: #000000;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

section#inicio p {
  color: #000000;
  font-size: 1.1rem;
}

.container {
  display: flex;
  max-width: 1000px;
  gap: 30px;
  position: relative;
  align-items: center;
  margin: 40px auto;
}

.info {
  flex: 1;
  transition: opacity 0.6s ease, transform 0.6s ease;
}
 

.image-box {
  width: 380px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.image-box img {
  width: 100%;
  display: block;
  border-radius: 12px;
}

section:not(#inicio) {
  max-width: 800px;
  margin: 60px auto;
  padding: 0 20px;
}

section h2 {
  color: #000000;
  margin-bottom: 10px;
}

section p {
  color: #000000;
  font-size: 1rem;
}

footer {
  background: #4dad51;
  text-align: center;
  padding: 60 px 20px;
  font-size: 0.9rem;
  color: #000000;
}

footer strong {
  color: #000000;
}

/* Dark theme */
.dark,
.dark header {
  background-color: #263238;
  color: #fff;
}

.dark .bi-sun {
  display: none;
}

.dark .bi-moon {
  display: block;
}

.dark .card {
  background-color: #37474f;
}

.dark .card-image {
  background-color: #273035;
}

.dark .subtitle {
  color: #67b4f3;
}

.dark .description {
  color: #2196f3;
}

.dark .btn {
  background-color: #67b4f3;
}


